{% extends 'core/PlantillaAutos.html' %}
{% load static %}
    
    {% block titulo %}
    <title> {{nombreA}} </title>
    {% endblock titulo %}



    {% block img %}
        <img alt="Sin foto" width="100%" height="100%"  class="img-fluid" src="{{img}}"> <!-- añadir al css los width y height-->
    {% endblock img %}
  
      
        
          
            {% block img1 %}
            <img class="especificacion" src="{{ img1 }}">
            {% endblock img1 %}
          
          
            {% block texto1%}
            <h3> {{texto1}} </h3>
            {% endblock texto1%}
          
        
        
          
            {% block img2 %}
            <img class="especificacion" src="{{ img2 }}">
            {% endblock img2 %}
          
          
            {% block texto2 %}
            <h3> {{texto2}} </h3>
            {% endblock texto2 %}
          
        
        
          
            {% block img3 %}
            <img class="especificacion" src="{{ img3 }}">
            {% endblock img3 %}
          
          
            {% block texto3 %}
            <h3> {{texto3}} </h3>
            {% endblock texto3 %}
          
        
        
          
            {% block img4 %}
            <img class="especificacion" src=" {{ img4 }} ">
            {% endblock img4 %}
          
          
            {% block texto4 %}
            <h3> {{texto4}} </h3>
            {% endblock texto4 %}
          
        
      
  
  
      
        
          {% block nombre %}
          <h1> {{nombreA}} </h1>
          {% endblock nombre %}
            {% block datosA %}
            <p>{{datosA}}</p>
            {% endblock datosA %}
            
            {% block datosB %}
            <p>{{datosB}}</p>
            {% endblock datosB %}
  
        
          {% block videoA %}
          <iframe title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen src=" {{videoA}} "></iframe>
          {% endblock videoA %}
        

        
          
            {% block galeriaN %}
            <h2> {{ nombreG }} </h2>
            {% endblock galeriaN %}
          
        
        
          
            
              {% block galeriaimg1 %}
              <img alt="Galeria" src=" {{ galeriaimg1 }} ">
              {% endblock galeriaimg1 %}
            
            
              {% block galeriaimg2 %}
              <img alt="Galeria" src=" {{ galeriaimg2 }} ">
              {% endblock galeriaimg2 %}
            
            
              {% block galeriaimg3 %}
              <img alt="Galeria" src=" {{ galeriaimg3 }} ">
              {% endblock galeriaimg3 %}
            
            
              {% block galeriaimg4 %}
              <img alt="Galeria" src=" {{ galeriaimg4 }} ">
              {% endblock galeriaimg4 %}
            
            
              {% block galeriaimg5 %}
              <img alt="Galeria" src=" {{ galeriaimg5 }} ">
              {% endblock galeriaimg5 %}
            
            
              {% block galeriaimg6 %}
              <img alt="Galeria" src=" {{ galeriaimg6 }} ">
              {% endblock galeriaimg6 %}  